
<div class="row">
    <div class="col">
        <p>Pick your numbers</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div style="margin-bottom:20px;">
            <app-numbers-picker [key]="'user-selected'"></app-numbers-picker>
        </div>
    </div>
    <div class="col">
        <div>
            <app-number-display-view #selectedNum [key]="'user-selected'"></app-number-display-view>
        </div>
    </div>
</div>


<div class="row">
        <div class="col">
            <p>The lottery numbers</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="margin-bottom:20px;">
                <app-numbers-picker [key]="'lottery-numbers'"></app-numbers-picker>
            </div>
        </div>
        <div class="col">
            <div>
                <app-number-display-view #lotteryNum [key]="'lottery-numbers'"></app-number-display-view>
            </div>
        </div>
    </div>

<button (click)="onCheck()">Check</button>