
<div class="row">
    <div class="col">
        <p>Pick your numbers</p>
    </div>
</div>
<div class="row">
    <div class="col">
            <div style="margin-bottom:20px;">
                <app-numbers-picker></app-numbers-picker>
            </div>
    </div>
    <div class="col">here is the display</div>
</div>




<div class="row">
        <div class="col">
            <p>The lottery numbers</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="margin-bottom:20px;">
                <app-numbers-picker></app-numbers-picker>
            </div>
        </div>
    <div class="col">here is the display</div>
</div>